{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Gestión Estudiantes</title>
</head>
<body>
    {% block titulo %}{% endblock %}
    {% block login %}
        {% if user.is_authenticated %}
            <p>¡Bienvenido de nuevo, {{ user.username }}!</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %} 
                <button type="submit" class="">Cerrar Sesión</button>
            </form>
        {% else %}
            <p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para acceder a más funciones.</p>
        {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>