{% extends "gestion/base.html" %}

{% block titulo %}
<h1>Lista de Inscripciones</h1>
{% endblock %}

{% block content %}
<ul>
    {% for inscripcion in inscripciones %}
        <li>Estudiante: {{ inscripcion.estudiante.nombre }} </li>
        <li>Curso: {{ inscripcion.curso.nombre }} </li>
        <li>Fecha de inscripción: {{ inscripcion.fecha_inscripcion }}</li>
        <br>
        <a href="{% url 'eliminar_inscripcion' inscripcion.id %}">ELIMINAR</a>

    {% endfor %}
</ul>
<a href="{% url 'crear_inscripcion' %}">Crear nueva inscripción</a>
<a href="{% url 'index' %}">Volver al inicio</a>
{% endblock %}
